{% extends 'myapp/main.html' %}
{% load static %}

{% block content %}

            <section class=" bg-cyan-500 bg-gradient-to-r from-neutral-800 to-neutral-600 py-6 lg:py-0">
                <div class="container mx-auto flex justify-between items-center text-center">
                    <div class="px-4 lg:w-1/2 text-4xl font-medium text-white">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque excepturi rem saepe sequi repudiandae sed, at dolor velit a molestiae.</h3>
                    </div>
                    <div class="hidden lg:block">
                        <img src="{% static 'image/mat-removebg-preview.png' %}" alt="">
                    </div>
                </div>
            </section>

            <!-- How it works -->
            <section class="container mx-auto mb-10 lg:py-32">
                <header class="text-3xl font-medium py-6">
                    <h3>How It Works?</h3>
                </header>
                <div class="bg-neutral">
                    <div class="accordion-item rounded">
                        <div class="accordion-header flex justify-between py-4 px-4 hover:bg-neutral-300">
                            <strong>Lorem</strong>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="svg w-6 h-6 origin-center rotate-180">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                            </svg>                   
                        </div><hr>
                        <div class="accordion-content hidden py-4 px-4 bg-gray-100">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quos.</span>
                        </div>
                    </div>
                    <div class="accordion-item rounded">
                        <div class="accordion-header flex justify-between py-4 px-4 hover:bg-neutral-300">
                            <strong>Lorem</strong>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="svg w-6 h-6 origin-center rotate-180">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                            </svg>                   
                        </div><hr>
                        <div class="accordion-content hidden py-4 px-4 bg-gray-100">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quos.</span>
                        </div>
                    </div>
                    <div class="accordion-item rounded">
                        <div class="accordion-header flex justify-between py-4 px-4 hover:bg-neutral-300">
                            <strong>Lorem</strong>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="svg w-6 h-6 origin-center rotate-180">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                            </svg>                   
                        </div><hr>
                        <div class="accordion-content hidden py-4 px-4 bg-gray-100">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quos.</span>
                        </div>
                    </div>
                </div>
            </section>
    
            <div class="container mx-auto px-4 py-6 lg:py-10">
                <hr>
            </div>
    
            <!-- footer -->
            <footer class="container mx-auto lg:grid grid-cols-2 lg:gap-4 py-6 px-4">
                <div class="py-6 text-center lg:text-left">
                    <div class="grid lg:grid-row-3 lg:gap-4">
                        <img class="mx-auto lg:mx-0" src="{% static 'image/logo.png' %}" alt="">
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, tempora!</span>
                        <div class="hidden lg:grid lg:grid-row-2 lg:gap-4 py-6">
                            <strong>Accepted Payment</strong>
                            <div class="mx-auto lg:mx-0 grid grid-cols-4 gap-2 size-1/2">
                                <img class="bg-white p-1" src="{% static 'image/telebirr_R.webp' %}" alt="">
                                <img class="bg-white p-1" src="{% static 'image/cbe_R.webp' %}" alt="">
                                <img class="bg-white p-1" src="{% static 'image/coop_R.webp' %}" alt="">
                                <img class="bg-white p-1" src="{% static 'image/dashen_R.webp'%}" alt="">
                                <img class="bg-white p-1" src="{% static 'image/buna_R.webp'%}" alt="">
                                <img class="bg-white p-1" src="{% static 'image/awash_R.webp' %}" alt="">
                                <img class="bg-white p-1" src="{% static 'image/abs_R.webp'%}" alt="">
                                <img class="bg-white p-1" src="{% static 'image/zemen_R.webp'%}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <strong>Category</strong>
                        <div class="text-sm py-4 grid grid-row-10 gap-2">
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Kg-level</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Elementery-level</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">High-School-level</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">University-level(Under-Graduate)</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">MSC</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">PHD</p>
                        </div>
                    </div>
                    <div>
                        <strong>Contact</strong>
                        <div class="text-sm py-4 grid grid-row-10 gap-2">
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Location</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Email</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Address</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Where We Are?</p>
                        </div>
                    </div>
                    <div>
                        <strong>About</strong>
                        <div class="text-sm py-4 grid grid-row-10 gap-2">
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">About shopcart</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Careers</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">News & Blog</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Help</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Press Center</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Get Freelancers by location</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Top Freelancers</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Affiliate & Partners</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Ideas & Guides</p>
                        </div>
                    </div>
                    <div>
                        <strong>Help</strong>
                        <div class="text-sm py-4 grid grid-row-10 gap-2">
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Shopcart Help</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Returns</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">track orders</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">contact us</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">feedback</p>
                            <p class="transition ease-in-out duration-150 hover:text-white translate-x-0 hover:translate-x-2">Security & Fraud</p>
                        </div>
                    </div>
                </div>
                <div class="text-center grid grid-row-2 gap-4 py-10 lg:hidden">
                    <strong>Accepted Payment</strong>
                    <div class="mx-auto lg:mx-0 grid grid-cols-4 gap-2 size-1/2">
                        <img class="bg-white p-1" src="{% static 'image/telebirr_R.webp' %}" alt="">
                        <img class="bg-white p-1" src="{% static 'image/cbe_R.webp' %}" alt="">
                        <img class="bg-white p-1" src="{% static 'image/coop_R.webp' %}" alt="">
                        <img class="bg-white p-1" src="{% static 'image/dashen_R.webp'%}" alt="">
                        <img class="bg-white p-1" src="{% static 'image/buna_R.webp'%}" alt="">
                        <img class="bg-white p-1" src="{% static 'image/awash_R.webp' %}" alt="">
                        <img class="bg-white p-1" src="{% static 'image/abs_R.webp'%}" alt="">
                        <img class="bg-white p-1" src="{% static 'image/zemen_R.webp'%}" alt="">
                    </div>
                </div>
            </footer>
    
    
    
    
    
    
            <script>
                const accordionItems = document.querySelectorAll('.accordion-item');
                
                accordionItems.forEach(item => {
                    const header = item.querySelector('.accordion-header');
                    const content = item.querySelector('.accordion-content');
                    const svg = item.querySelector('.svg');
                
                    header.addEventListener('click', () => {
                    const isOpen = content.classList.contains('hidden');
                    // accordionItems.forEach(item => item.querySelector('.accordion-content').classList.add('hidden'));
                    content.classList.add('hidden')
                    // accordionItems.forEach(item => item.querySelector('.svg').classList.add('origin-center', 'rotate-180'))
                    svg.classList.add('origin-center', 'rotate-180')
                    if (isOpen) {
                        content.classList.remove('hidden');
                        svg.classList.remove('origin-center','rotate-180')
                    }
                    });
                });
            </script>

{% endblock content %}